    <div class="header">
      <div class="container">
        <h1>Welcome!</h1>
        <p>Comedy Network Factory.</p>
      </div>
    </div>

        <div class="header">
      <div class="container">
        <h1>Comedy Network</h1>
        <p>Connect you to Stand-Up Comedy</p>
        <a class="btn" href="#">Learn More</a>
      </div>
    </div>

    <div class="main">
      <div class="container">
        <img src="http://s3.amazonaws.com/codecademy-content/projects/innovation-cloud/cloud.svg" height="128" width="196">
        <h2>Next Stand-Up Comedy Conference</h2>
        <p>Connect with the best minds across a wide range of industries to share ideas and brainstorm new solutions to challenging problems.</p>
        <p>Hear industry leaders talk about what worked (and what didn't) so that you can save time on your most challenging projects.</p>
        <p>Learn about the latest research and technologies that you can use immediately to invent the future.</p>
      </div>
    </div>

    <div class="jumbotron">
      <div class="container">
        <h2>Stay Connected</h2>
        <p>Receive weekly insights from industry insiders.</p>
        
        
        <!-- Your code here -->
        

      </div>
    </div>

    <div class="footer">
      <div class="container">
        <p>&copy; Comedy Network Limited</p>
        <small>Designed by: Richard Jatto</small>
      </div>
    </div>
